// *Основные параметры

body {
    padding-top: 80px;

    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;

    color: #757575;
    background-color: #FFFFFF;
    /* outline: 2px solid tomato  */
}