//* Спрятанный тег, который не должен отображаться в браузере */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}